* {
    margin: 0;
    padding: 0;
    -webkit-box-sizing: 0;
    box-sizing: 0;
}

html,
body {
    background-color: #f3f3f3;
    font-family: 'Roboto', sans-serif;
}


/* HEADER */

header {
    padding: 0;
    margin-top: 100px;
    margin-bottom: 150px;
}

.navbar {
    position: relative;
    padding: 0;
}

.navbar img {
    width: 60px;
    border-radius: 50%;
}

.navbar span {
    font-size: 32px;
    font-weight: bold;
    color: #003a66;
    margin-left: 15px;
    position: absolute;
    top: 15%;
}

.collapse li {
    padding-left: 30px;
    margin-top: 10px;
}

.collapse li a {
    font-size: 24px;
    font-weight: bold;
    color: #000;
    border-bottom: 2px solid transparent;
}

.collapse li:hover a {
    border-color: #000;
}


/* CONTENT */

.content__name {
    font-size: 50px;
    font-weight: bold;
}

.content__info {
    font-size: 32px;
    color: #7f7f7f;
}

.arrow__down {
    margin-top: 100px;
    font-size: 50px;
}

.content__title {
    margin-top: 100px;
    font-size: 20px;
    font-weight: bold;
}

.content__sub1 {
    font-size: 18px;
    width: 80%;
    margin: 20px 0;
}

.content__more {
    font-weight: bold;
    font-size: 18px;
    margin-top: 100px;
}

.content__more a {
    color: #000;
    border-bottom: 2px solid;
    text-decoration: none;
}

.content__more i {
    margin-left: 5px;
}

.content__sub2 {
    color: #ababab;
    font-size: 16px;
    width: 80%;
}

.content__img {
    background-color: #e4e4e4;
    overflow: hidden;
    border-radius: 20px;
}

.content__img img {
    padding: 15px;
    border-radius: 30px;
}

.content__hr {
    border: 1px solid #000;
    width: 96%;
    margin: 80px 20px 100px 20px;
}


/* FOOTER */

.flex__footer {
    display: flex;
    justify-content: space-between;
}

.footer__right {
    margin-top: 50px;
}

.footer__right ul {
    text-decoration: none;
    list-style: none;
}

.footer__right li {
    display: inline;
    padding-left: 40px;
}

.footer__right a {
    color: #000;
    font-size: 22px;
    font-weight: bold;
    text-decoration: none;
}

.footer__right li:hover a {
    border-bottom: 2px solid
}